<div class="generic-container">

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><span class="lead">List of Robots </span></div>
		<div class="panel-body">
			<div class="table-responsive">
		        <table class="table table-hover">
		            <thead>
		            <tr>
		                <th>Robot Id</th>
		                <th>Robot Name</th>
		                <th>Robot Description</th>
		                <th>Quantity</th>
		                <th width="100"></th>
		                <th width="100"></th>
		            </tr>
		            </thead>
		            <tbody>
		            <tr data-ng-repeat="robot in home.robots">
		                <td>{{robot.id}}</td>
		                <td>{{robot.name}}</td>
		                <td>{{robot.description}}</td>
		                <td>{{robot.quantity}}</td>
		                <td><button type="button" ng-click="home.editRobot(robot.id)" class="btn btn-success custom-width">Edit</button></td>
		                <td><button type="button" ng-click="home.removeRobot(robot.id)" class="btn btn-danger custom-width">Remove</button></td>
		            </tr>
		            </tbody>
		        </table>		
			</div>
		</div>
    </div>
</div>